src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:r4american-flights-api="http://www.mulesoft.org/schema/mule/r4american-flights-api"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/r4american-flights-api http://www.mulesoft.org/schema/mule/r4american-flights-api/current/mule-r4american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getUnitedFlights" doc:id="af820059-6e97-4ddd-a4f9-e430d1b2734c" >
		<http:listener doc:name="GET United" doc:id="0f647145-cfc8-4c10-8e3f-5045d8f5b715" config-ref="HTTP_Listener_config" path="/united"/>
		<flow-ref doc:name="SetCode" doc:id="49545627-3f90-4f21-8dff-4fff1f38fa29" name="setCode"/>
		<http:request method="GET" doc:name="Get United Flights" doc:id="0af74e04-d5cc-42a3-8907-c138be4f838a" config-ref="HTTP_Request_configuration" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON To [Flights]" doc:id="fad824c2-6c07-47d5-ab59-8704cffe5b50" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map (flight, indexOffFlight) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2189c364-e213-44e8-8764-17f574a0874f" message="#[payload]"/>
	</flow>
	<flow name="getDeltaFlightsFlow" doc:id="ae63d230-5129-4faa-bd0a-afce36e9d566" >
		<http:listener doc:name="Get Delta" doc:id="6832eeb6-8bf6-490b-bb03-274086050778" config-ref="HTTP_Listener_config" path="/delta"/>
		<flow-ref doc:name="setCode" doc:id="77ab6751-a7da-49dd-8d4a-bc6fff7a842d" name="setCode"/>
		<ee:transform doc:name="Transform Message" doc:id="ad23b18b-b526-4277-aefb-e79151a73c90" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="Consume Flights" doc:id="99ea56ca-2029-4745-8a15-5362282adc34" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="POJO to [Flight]" doc:id="71ea3211-5376-4750-8e8e-181966b9db09" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5b97ab54-874e-434d-b0ac-080fa2e590c8" message="#[payload]"/>
	</flow>
	<flow name="getAmericanFlightsFlow" doc:id="5f4372ca-76c5-4baa-a4e1-fbfc7a9f94c2" >
		<http:listener doc:name="Listener" doc:id="47d8a6fd-6536-4fcb-b5da-2bdfdf9f4c87" config-ref="HTTP_Listener_config" path="/american" allowedMethods="GET"/>
		<flow-ref doc:name="setCodeFP" doc:id="c9ad7a9e-0546-4c17-8e6b-980b1f744d98" name="setCode"/>
		<r4american-flights-api:get-flights doc:name="Get flights" doc:id="f0fe8886-d334-4677-8a81-1c82dcc056bf" config-ref="R4_American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON To [Flight]" doc:id="d34f7163-2104-41e4-a623-5988e1a9ef39" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="795df1dc-6c0b-448b-9fa3-e0fd6467a2c5" message="#[payload]"/>
	</flow>
	<sub-flow name="setCode" doc:id="c3f87cd7-153c-4d4e-9954-3bac37b04784" >
		<set-variable value="#[message.attributes.queryParams.destination default 'SFO']" doc:name="Code" doc:id="1a1b352a-201b-4091-b793-99f221e81d29" variableName="code"/>
	</sub-flow>
</mule>
